body {
  text-align: center;
}

#pohon {
  left: 0;
  bottom: 0;
  position: absolute;
}

#latar {
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  position: absolute;
}

div {
  z-index: 2;
}
