#app {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-grow: 240px;
  height: 100%;
  width: 240px;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
}
